// Flex direction
$directions: (
  "column": column,
  "row": row,
);

@each $key, $value in $directions {
  @include responsive("flex-#{$key}") {
    flex-direction: $value;
  }
}

// Align and justify
$options: (
  "center": center,
  "start": flex-start,
  "end": flex-end,
  "around": space-around,
  "between": space-between,
);

@each $key, $value in $options {
  @include responsive("align-items-#{$key}") {
    align-items: $value;
  }

  @include responsive("justify-content-#{$key}") {
    justify-content: $value;
  }
}

// Flex grow
$growOptions: (
  "1": 1,
);

@each $key, $value in $growOptions {
  @include responsive("flex-#{$key}") {
    flex-grow: $value;
  }
}
