@each $key, $value in $shadows {
  @include responsive("shadow-#{$key}") {
    -webkit-box-shadow: #{$value};
    -moz-box-shadow: #{$value};
    box-shadow: #{$value};
  }
}

@each $key, $value in $hoverShadows {
  @include responsive("hover-shadow-#{$key}") {
    &:hover {
      -webkit-box-shadow: #{$value};
      -moz-box-shadow: #{$value};
      box-shadow: #{$value};
    }
  }
}
