button {
  cursor: pointer;
  padding: 0;
}

// Play, next, back buttons
.primary-btn {
  box-shadow: -6px -6px 10px #ffffff, 6px 6px 6px rgba(0, 0, 0, 0.05),
    inset 6px 6px 6px rgba(0, 0, 0, 0.05), inset -6px -6px 13px #ffffff;
  transition: box-shadow 300ms ease-in-out, filter 300ms ease-in-out;

  .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
      159.16deg,
      #917ce4 26.46%,
      rgba(63, 45, 137, 0) 116.55%
    );
    transition: box-shadow 300ms ease-in-out, filter 300ms ease-in-out;
    box-shadow: inset 6px 6px 10px rgba(255, 255, 255, 0.3);
    @include filter(drop-shadow(0px 4px 4px rgb(55, 46, 152)));
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &:hover:not([disabled]),
  &:focus:not([disabled]) {
    box-shadow: -3px -3px 6px #ffffff, 3px 3px 3px rgba(0, 0, 0, 0.05),
      inset 6px 6px 6px rgba(0, 0, 0, 0.05), inset -6px -6px 13px #ffffff;

    .inner {
      box-shadow: inset 3px 3px 6px rgba(255, 255, 255, 0.3);
      @include filter(drop-shadow(0px 3px 5px rgb(55, 46, 152)));
    }
  }
}
