$themeColors: (
  white: #ffffff,
  black: #000000,
  brand: #e2ddff,
  brandLight: #e1deea,
  grayLight: #f8f8f8,
  grayText: #aeaeae,
  gray100: #eeeeee,
  gray200: #dedde3,
  light: #beb7c0,
  medium: #aa9bbe,
  dark: #86748d,
  gradLight:
    linear-gradient(159.16deg, #917ce4 26.46%, rgba(63, 45, 137, 0) 116.55%),
  gradDark: linear-gradient(327.56deg, #5d24d6 19.23%, #7e74ed 81.76%),
);
